@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Instrument+Serif&family=Montserrat&family=Poltawski+Nowy:wght@500;600&family=Poppins:ital,wght@0,400;0,700;1,400&family=Raleway:wght@300;400&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@100;200;500;600;700&family=Roboto:wght@300;400&family=Sono:wght@500&family=Tilt+Neon&family=Ysabeau:wght@300&display=swap');


/* page-1 */
*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box; 
    text-decoration: none;
    /* border: 1px solid; */
}

:root{
    --black: rgba(66, 66, 66, 1);
    --skyblue: rgba(0, 165, 236, 1);
    --white: rgba(255, 255, 255, 1);
    --border: rgba(237, 237, 237, 1);
    --grey: rgba(194, 194, 194, 1);
    --background: rgba(247, 247, 247, 1);
}

body{
    background: var(--background);
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
}

.navbar{
    padding: 15px 80px;
    background: var(--white);
    box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.366);
    font-weight: 800;
    letter-spacing: 1px;
}

.logo{
    font-size: 40px;
    text-decoration: none;
    color: var(--black);
} 

.list{
    color: var(--skyblue);
}

.mainContainer{
    padding: 25px 80px;
    font-size: 20px;
}

.newtask{
    text-align: right;
    color: var(--black);
    margin: 6px 0px;
}

.plusSign{
    border-radius: 50%;
    padding: 3px 9px;
    color: var(--white);
    background: var(--skyblue);
}

.addNewtask{
    color: var(--black);
    padding-left: 5px;
}

h5{
    color: var(--skyblue);
    padding: 20px 10px;
    border-bottom: 2px solid var(--border);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0px; 
}

.cardContainer2 {
    display: inline-flex;
    justify-content: start;
    gap: 10px;
}

.cards{
    border-radius: 5px;
    width: 295px;
    height: 280px; 
    background: white;
    border: 2px solid rgba(149, 149, 149, 0.108);
}

.cards:hover{
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.371);
    transition: ease 0.2s;
    translate: 0px -10px;
}

.del{
    text-decoration: line-through;
    color: var(--grey);
}

.checks{
    font-size: 16px;
    padding: 30px 0px;
    color: var(--black);
    padding: 25px 10px;
}

.visible{
    opacity: 0.1;
    background: grey;
}

/* page-2 */
.popup1{
    position: absolute;
    top: 34%;
    left: 34%;
    background: white;
    width: 400px;
    text-align: center;
    padding: 5px 10px;
}

.addnewtask-heading{
    float: left;
    border-bottom: 2px solid var(--skyblue);
    color: var(--black);
}

.addnewtask-heading:hover{
    letter-spacing: 2px;
    transition: 0.3s ease-out;
}

.cross{
    float: right;
    font-size: 32px;
    line-height: 50px;
    color: var(--black);
    padding: 0px 5px;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
        transition: ease 0.1s;
    }
    to{
        transform: rotate(360deg);
        transition: ease 20s;
    }
}

.cross:hover{
  color: red;
}

.addnewtask-heading{
    font-size: 18px;
    font-weight: 500;
    padding: 15px 10px;
}

.c_input{
    outline: none;
    border: 1px solid var(--border);
    background:white;
    width: 100%;
    margin: 20px 0px;
    padding: 12px 20px;
}

.addTaskbtn{
    float: right;
    padding: 8px 30px;
    background: var(--skyblue);
    color: white;
    border: 2px solid var(--skyblue);
    border-radius: 5px;
    margin: 10px 0px;
}

.addTaskbtn:hover{
    background: var(--white);
    border: 1px solid var(--skyblue);
    color: var(--skyblue);
    transition: ease 0.2s;
    /* box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.526); */
    padding: 10px 32px;
}

